@namespace CEC.Blazor.ModalEditor
@implements IModalDialog

@if (this.Display)
{
    <CascadingValue Value="(IModalDialog)this">
        <div class="modal-background">
            <div class="modal-content" style="@this.Width">
                @this._Content
            </div>
        </div>
    </CascadingValue>
}